{
  :source-paths ["src"]
  :dependencies [
    [org.clojure/core.incubator "0.1.4"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target"}
  :builds {
    :client {
      :output-dir "target/", :asset-path "./", :target :browser, :module-hash-names 8
      :modules {
        :client {:init-fn ws-edn.page/main!}
      }
      :release {:output-dir "dist/"}
      :build-options {:manifest-name "assets.edn"}
    }
    :server {
      :target :node-script, :output-to "target/server.js", :main ws-edn.main/main!
      :release {:output-to "dist/server.js"}
    }
  }
}